h1 {
    color: brown;
}

h2 {
    color:brown;
}

body {
    background-color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 64px;
    border: 5px solid saddlebrown;
    margin: auto;
    box-sizing: border-box;
}

h3 {
    color:brown;
}

